<!DOCTYPE html>
<html lang="en">
{{ template "head" . }}

<body>

    <header>
        {{ if .Username }} {{ template "navbarco" . }} {{ else }} {{ template "navbar" . }} {{ end }}
        <div class="welcome-area">
            <h2 class="section-title">Erreur 404</h2>
            <p class="section-subtitle">La page recherchée est introuvable.</p>
            <a class="retour-accueil" href="/">Retour à l'accueil</a>
        </div>
    </header>

    {{ template "footer" . }}

</body>

</html>