<!DOCTYPE html>
<html lang="en">
{{ template "head" . }}

<body>

    <header>
        <div class="home-hero">
            {{ if .Username }} {{ template "navbarco" . }} {{ else }} {{ template "navbar" . }} {{ end }}
            <div class="welcome-area">
                <h2 class="section-title">Bienvenue sur le Forum.</h2>
                <p class="section-subtitle">Le forum des etudiants en informatique de bordeaux ynov campus.</p>
            </div>
        </div>
    </header>


    <main>

    </main>


    {{ template "footer" . }}

</body>

</html>