<!DOCTYPE html>
<html lang="en">
{{ template "head" . }}

<body>
    <header>
        {{ if .Username }} {{ template "navbarco" . }} {{ else }} {{ template "navbar" . }} {{ end }}
        <div class="welcome-area">
            <h2 class="section-title">Bienvenue sur le Forum.</h2>
            <p class="section-subtitle">Le forum des etudiants en informatique de bordeaux ynov campus.<br> pour plus d'informations sur le projet veuillez cliquer<a href="/info">ici</a><br> pour voir tout les post, cliquez <a href="/posts">là</a>
            </p>
        </div>
    </header>



    <main>

    </main>


    {{ template "footer" . }}

</body>

</html>