<!DOCTYPE html>
<html lang="en">

{{ template "head" . }}

<body>

    <header>
        {{ if .Username }} {{ template "navbarco" . }} {{ else }} {{ template "navbar" . }} {{ end }}
        <div class="welcome-area">
            <h2 class="section-title white">A propos du projet</h2>
            <p class="section-subtitle white">Projet Forum</p>
        </div>
    </header>

    <main>
        <section id="page-artist">
            <p class="section-subtitle">Informations</p>
            <h2 class="section-title">sur le projet</h2>
            <div>
                <p class="text-center">Le projet Forum est un projet etudiants en B1 informatique au sein de l'école Ynov Bordeaux.<br /> le projet consiste a creer un forum en utilisant une Base de donnée SQLite 3 afin de pouvoir accéder aux différents posts des utilisateur<br>                    Nous devons aussi prendre en charge un systeme de connexion avec cookie pour que l'utilisateur puisse publier un post <br>
                    <a href="https://git.ytrack.learn.ynov.com/APOUGEARD-DULIMBERT/Forum_Go.git">Tout savoir sur le projet en cliquant ici</a>
                </p>
            </div>
        </section>
    </main>

    {{ template "footer" . }}

</body>

</html>