<!DOCTYPE html>
<html lang="en">

{{ template "head" . }}

<body>
    <header>
        {{ template "navbarlogin" . }}
    </header>
    <div class="container">
        <div id="login">
            <div class="login-screen">
                <div class="title-screen">
                    <h1>Login</h1>
                </div>
                <form class="form-login" method="post" name="login" novalidate>
                    <div class="form-text">
                        <input class="champ" type="email" name="email" required>
                        <label for="email">Email</label>
                    </div>
                    <div class="form-text">
                        <input class="champ" type="password" name="password" required>
                        <label for="password">Password</label>
                    </div>
                    <div class="form-button">
                        <button class="log-button" type="submit">
                            Enter
                        </button>
                        <button class="signup-button-login">
                            <a href="/register">Register</a>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

{{ template "footer" . }}

</html>