<!DOCTYPE html>
<html lang="en">
{{ template "head" . }}

<body>

    <header>
        {{ if .Username }} {{ template "navbarco" . }} {{ else }} {{ template "navbar" . }} {{ end }}
        <div class="welcome-area">
            <h2 class="section-title">Bienvenue sur la page de création d'un post</h2>
            <p class="section-subtitle">Vous pouvez ecrire un post et il sera envoyé dans une base de donnée SQLite3 et son contenu pourra etre vu dans une page qui regroupe<a class="lien-text" href="/posts">tout les posts</a></p>
        </div>
    </header>


    <main>
        <div class="cadre-post">
            <h3 class="title-post"> Ajout d'un post</h3>
            <div class="post">
                <form class="form-post" action="/post" method="POST">
                    <div>
                        <input class="form-champ-post-name" type="text" name="postname" required>
                        <label class="transparent-text">Nom du post</label>
                        <textarea class="form-champ-post-content" type="text" name="post" rows="5" cols="30"></textarea>
                        <label class="transparent-text">Ecrit ton post</label>
                        <button class="done-button-post" type="submit">
                            Done
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </main>


    {{ template "footer" . }}

</body>

</html>