<!DOCTYPE html>
<html lang="en">
{{ template "head" . }}

<body>

    <header>
        {{ if .Username }} {{ template "navbarco" . }} {{ else }} {{ template "navbar" . }} {{ end }}
        <div class="welcome-area">
            <h2 class="section-title">Bienvenue sur la page des Posts.</h2>
            <p class="section-subtitle">Ceci est l'endroit où tout les posts crée sont visible par les utilisateur du site</p>
        </div>
    </header>


    <main>
        <div class="cadre-posts">
            <h3 class="title">liste des posts</h3>
            {{ range .PostsTab }}
            <div class="UniqPost">
                <a class="lien-post" href="/show?id={{ .Id }}">{{ .Title }}</a>
                <a class="creator-name" href="/profil?id={{ .CreatorId }}">{{ .Creator }}</a>
            </div>
            {{ end }}
        </div>
    </main>


    {{ template "footer" . }}

</body>

</html>