<!DOCTYPE html>
<html lang="en">
{{ template "head" . }}

<body>

    <header>
        {{ if .Username }} {{ template "navbarco" . }} {{ else }} {{ template "navbar" . }} {{ end }}
        <div class="welcome-area">
            <h2 class="section-title">Bienvenue sur ton profil</h2>
        </div>
    </header>


    <main>
        <div class="cadre-profil">
            <p class="text-profil">Prénom : {{ .User.FirstName }}</p>
            <p class="text-profil">Nom : {{ .User.LastName }}</p>
            <p class="text-profil">Nom d'utilisateur : {{ .User.Username }}</p>
            <p class="text-profil">adresse electronique : {{ .User.Email }}</p>
        </div>
        <div class="cadre-posts">
            <h3 class="title">liste des posts</h3>
            {{ range .Posts }}
            <div class="UniqPost">
                <a class="lien-post" href="/show?id={{ .Id }}">{{ .Title }}</a>
            </div>
            {{ end }}
        </div>
    </main>

    {{ template "footer" . }}

</body>

</html>