<!DOCTYPE html>
<html lang="en">
{{ template "head" . }}

<body>
    <header>
        {{ template "navbarsignup" . }}
    </header>
    <div class="container">
        <div id="signup">
            <div class="signup-screen">
                <div class="title-screen">
                    <h1>Sign up</h1>
                </div>
                <form class="form-register" method="post" name="register">
                    <div class="form-text">
                        <input class="champ" type="text" name="firstname" required>
                        <label for="first-name">First Name</label>
                    </div>
                    <div class="form-text">
                        <input class="champ" type="text" name="lastname" required>
                        <label for="last-name">Last Name</label>
                    </div>
                    <div class="form-text">
                        <input class="champ" type="text" name="pseudo" required>
                        <label for="pseudo">pseudo</label>
                    </div>
                    <div class="form-text">
                        <input class="champ" type="text" name="email" required>
                        <label for="email">Email</label>
                    </div>
                    <div class="form-text">
                        <input class="champ" type="password" name="password" required>
                        <label for="password">Password</label>
                    </div>
                    <div class="form-button">
                        <button class="done-button" type="submit">
                            <a>done</a>
                        </button>
                        <button class="clear-button" type="submit">
                            <a>clear</a>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

{{ template "footer" . }}

</html>