<!DOCTYPE html>
<html lang="en">
{{ template "head" . }}

<body>

    <header>
        {{ if .Username }} {{ template "navbarco" . }} {{ else }} {{ template "navbar" . }} {{ end }}
        <div class="welcome-area">
            <h2 class="section-title">{{ .Post.Title }}</h2>
        </div>
    </header>


    <main>
        <div class="cadre-postid">
            <h2> Créé par <a href="/profil?id={{ .Post.CreatorId }}">{{ .Post.Creator }}</a></h2>
            <div class="post-content">
                <p class="text-post-content">{{ .Post.Content }}</p>
            </div>
        </div>
        {{if .Username }}
        <form class="new-comment" method="post">
            <p>Ajoutez un commentaire!</p>
            <textarea class="text-comment" name="content"></textarea>
            <button type="submit" class="btn-comment">Commenter</button>
        </form>
        {{end}} {{ range .Comments }}
        <div class="cadre-comment">
            <p>{{ .Creator }}</p>
            <p class="text-comment">{{ .Content }}</p>
            {{ end }}
        </div>
    </main>


    {{ template "footer" . }}

</body>

</html>