{{ define "navbarsignup" }}

<div class="navbar">
    <nav>
        <ul>
            <li class="accueil"><a href="/">Forum</a></li>
        </ul>
    </nav>
    <h3 class="title"> Register </h3>
</div>

{{ end }}