{{ define "navbar" }}

<nav class="navbar">
    <ul>
        <li class="accueil"><a href="/">Forum</a></li>
        <li class="text_navbar"><a href="/info">A propos</a></li>
        <li class="text_navbar"><a href="/posts">Liste des posts</a></li>


        <button class="login-button"><a href="/login">Login</a></button>
        <button class="signup-button"><a href="/register">Register</a></button>
    </ul>
</nav>


{{ end }}