{{ define "navbarco" }}

<nav class="navbar">
    <ul>
        <li class="accueil"><a href="/">Forum</a></li>
        <li class="text_navbar"><a href="/profil">Profil</a></li>
        <li class="text_navbar"><a href="/info">A propos</a></li>
        <li class="text_navbar"><a href="/post">ajouter un post</a></li>
        <li class="text_navbar"><a href="/posts">liste des posts</a></li>
        <a class="login-button" href="/logout">Logout</a>
    </ul>
</nav>
    

{{ end }}