/* ---------------------------------- */


/* ----------{ INITIALIZE }---------- */


/* ---------------------------------- */

html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0px;
    padding: 0px;
    background-color: #fefefe
}

h1,
h2,
h3,
h3,
h4,
h5,
h6,
p,
a,
li,
button,
i,
label {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}


/* ---------------------------------- */


/* ------------{ HEADER }------------ */


/* ---------------------------------- */


/* Navbar */

.navbar {
    size: 50px;
    background-color: #121212;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 30px 0px 30px 0px;
    display: flex;
    width: 100%;
}

nav ul li {
    text-align: flex;
    color: #00EAFF;
    display: inline-block;
    margin: 0px 0px 0px 0px;
    border-radius: 50px;
    padding: 15px 10px 10px 10px;
    text-decoration: none;
}

.accueil {
    color: #00EAFF;
    font-size: 30px;
    font-weight: 600;
}

.text_navbar {
    color: #00EAFF;
    font-size: 20px;
    font-weight: 600;
}


/* 

header  {
    background-color: #121212;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px ;
    padding: 30px 0px 30px 0px;
    display: flex;
    width: 100%;
     size: 50px;
} */

header .navbar ul {
    margin: 0px;
}

header ul li a:visited,
a:link {
    text-align: center;
    color: #00EAFF;
    display: inline;
    margin: 0px 0px 0px 0px;
    border-radius: 50px;
    padding: 15px 10px 10px 10px;
}

header ul li:first-child {
    display: inline;
    margin: 0px 0px 0px 0px;
}


/* header .navbar nav ul li a.active {
    border-bottom: solid 3px #fefefe;
} */

header .navbar form input {
    color: #00EAFF;
    border: solid 3px #00EAFF;
    background: transparent;
    border-radius: 50px;
    font-size: 18px;
    padding: 1px 15px 2px 15px;
}


/* bouton */


/* .bouton {
    display: flex;
    justify-content: flex-end;
}
*/

.login-button {
    background-color: #fafafa;
    color: #00EAFF;
    text-align: center;
    border-radius: 50px;
    display: inline-block;
    align-content: flex-end;
    font-size: 20px;
    font-weight: bold;
}

.signup-button {
    background-color: #00EAFF;
    color: #fafafa;
    text-align: center;
    border-radius: 50px;
    display: inline-block;
    align-content: flex-end;
    font-size: 20px;
    font-weight: bold;
}


/* a .login-button:link, .login-button:visited {
    color: #00EAFF;
}

a .signup-button:link, .signup-button:visited {
    color: #fafafa;
} */

.welcome-area {
    border: 5px red solid;
    margin: 5px 5px 5px 5px;
    border-radius: 30px;
}

.section-title {
    text-align: center;
}

.section-subtitle {
    text-align: center;
}


/* ---------------------------------- */


/* -------------{ LOGIN }------------ */


/* ---------------------------------- */

.title {
    color: #00EAFF;
    display: flex;
    justify-content: center;
}

.login-screen {
    border: 5px;
    border-style: solid;
    border-color: #121212;
    background-color: #121212;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    block-size: 25%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.title-screen {
    color: #00EAFF;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.form-login {
    margin: 5%;
}

.form-text {
    margin-bottom: 5%;
    justify-content: center;
    color: aqua;
}

.champ {
    width: 75%;
    height: 15%;
    padding-right: 24%;
    margin-top: 2%;
    border-radius: 50px;
    font-size: 25px;
}

.form-button {
    display: flex;
    justify-content: space-between;
}

.log-button {
    background-color: #fafafa;
    border-radius: 50px;
    width: 100px;
}

.signup-button-login {
    text-decoration: none;
    border-radius: 50px;
    width: 100px;
}


/* ---------------------------------- */


/* -----------{ REGISTER }----------- */


/* ---------------------------------- */

.navbarsignup .title {
    color: #00EAFF;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.signup-screen {
    border: 5px;
    border-style: solid;
    border-color: #121212;
    background-color: #121212;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    block-size: 25%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5%;
}

.done-button {
    border-radius: 50px;
    width: 100px;
}

.clear-button {
    border-radius: 50px;
    width: 100px;
}


/* ---------------------------------- */


/* ------------{ FOOTER }------------ */


/* ---------------------------------- */

.credits-text-center {
    display: flex;
    justify-content: center;
    bottom: 0;
}


/* ---------------------------------- */


/* ------------{ POST/S }------------ */


/* ---------------------------------- */

.cadre-posts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 5px #121212;
    background-color: #121212;
    border-style: solid;
    block-size: 50%;
    margin: 5% 20% 5% 20%;
    padding-bottom: 2%;
    /*border-width: 5px;
    border-color: #121212;*/
}

.cadre-post {
    display: flex;
    flex-direction: column;
    border: 5px #121212;
    border-style: solid;
    block-size: auto;
    margin: 5% 20% 5% 20%;
    padding: 2%;
}

.form-post {}

.form-champ-post-name {
    width: 25%;
    height: 15%;
    margin-top: 5%;
    border-radius: 50px;
    font-size: 25px;
}

.form-champ-post-content {
    width: 75%;
    height: 15%;
    padding-right: 24%;
    margin-left: 4px;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 25px;
}

.transparent-text {
    margin-bottom: 3px;
}

.UniqPost {
    display: flex;
    justify-content: space-around;
}

.lien-post:visited,
.lien-post:link {
    color: #00EAFF;
    font-weight: bold;
    width: 70%;
    height: 20px;
    margin: 1% 5% 1% 5%;
    border: 2px #fafafa;
    border-style: solid;
    text-align: justify;
}

.creator-name {
    color: #fafafa;
    font-style: italic;
    width: 120px;
    text-align: center;
    border: 1px red solid;
    border-radius: 30px;
}

.title-post {
    margin: auto;
}

.text-center {
    text-align: center;
}

.done-button-post {
    border-radius: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
}

.cadre-postid {
    display: flex;
    flex-direction: column;
    border: 5px #121212;
    border-style: solid;
    block-size: auto;
    margin: 5% 20% 5% 20%;
    padding: 2%;
}